{% extends "idea/base.html" %}
{% load crispy_forms_tags%}
{% block content %}
    <div class="content-selction">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="bottom-bottom mb-4">Add Idea</legend>
                {{ form|crispy }}
            </fieldset>

            <div class="form-group">
                <button type="submit" class="btn btn-color">Submit</button>
            </div>
        </form>
        
    </div>    

{% endblock content %}