{% extends "idea/base.html" %} {% block content %}

<div>
  <div>
    <form action="{% url 'search-result' %}" method="post" id="form-id">
      {%csrf_token%}
      <fieldset>
        <input
          class="search"
          type="text"
          name="search_text"
          placeholder="Search"
        />
      </fieldset>
      <a href="#" onclick="document.forms['form-id'].submit();" >
        <img
          class="search-icon"
          src="https://cdn-icons-png.flaticon.com/512/482/482631.png"
        />
      </a>
    </form>
  </div>
</div>
<div class="row parent">
  <div class="col-md-8">
    {% if not posts%}
    <div class="alert alert-info">
      <p>There are no ideas yet.</p>
    </div>
    {% endif %} {% for idea in posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ idea.author }}</a>
          <small class="text-muted">{{ idea.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2>
          <a class="article-title" href="{% url 'idea-view' idea.id %}"
            >{{ idea.title }}</a
          >
        </h2>
        <p class="article-content">{{ idea.content|truncatewords:6 }}</p>
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ idea.author }}</a>
          <small class="text-muted">{{ idea.tag_name}}</small>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
  <div class="col-md-4">
    <div class="content-section">
      <form action="{% url 'filter-result' %}" method="post">
        {%csrf_token%}
        <fieldset>
          <label for="filter">Choose a filter</label>

          <select name="Filter" id="filter">
            <option value="latest">Latest</option>
            <option value="oldest">Oldest</option>
            <option value="most_comments">Most Commented</option>
          </select>
        </fieldset>
        <input type="submit" value="Apply" />
      </form>
      <li class="list-group-item list-group-item-light">Sort</li>
    </div>
  </div>
</div>

{% endblock content %}
