{% extends "idea/base.html" %}
{% block content %}
<div >
  <input class="search" type="text" placeholder="Search..">
</div>
    {% if not posts%}
      <div class="alert alert-info">
        <p>There are no ideas yet.</p>
      </div>
    {% endif %}
    {% for idea in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <!-- <a class="mr-2" href="#">{{ idea.author }}</a> -->
              <small class="text-muted">{{ idea.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'idea-view' idea.id %}">{{ idea.title }}</a></h2>
            <p class="article-content">{{ idea.content|truncatewords:40 }}</p>
          </div>
        </article>
        
    {% endfor %}
{% endblock content %}
