{% extends "idea/base.html" %} {% load crispy_forms_tags%} {% block content %}
<div class="content-title">
  <h2>{{idea.title}}</h2>
  <small class="text-muted">{{idea.date_posted}}</small>
</div>
<div class="article-content-view">
  <p>{{idea.content}}</p>
</div>

<hr />

<div class="content-selction">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <h4 class="bottom-bottom mb-4">Add your comment</h4>
      {{form|crispy }}
    </fieldset>

    <div class="form-group">
      <button class="btn-color" type="submit">Submit</button>
    </div>
  </form>
  <div >
    <ul>
      {%for comment in idea.comments.all %}
      <li ><p class="text-muted comments">{{comment.description}}</p></li>
      <br />
      {%endfor%}
  </ul>
  </div>
  
</div>

{% endblock content %}
