{% extends "idea/base.html" %} {% load crispy_forms_tags%} {% block content %}
<div class="article-content-view">
  <div class="article-header">
    <h2 class="idea-title">{{idea.title}}</h2>
    <div class="header-comment-card">
      <p class="idea-author">{{idea.author}}</p>
      <p class="text-muted idea-date">{{idea.date_posted}}</p>
    </div>
  </div>
  <p class="idea-content">{{idea.content}}</p>
</div>

<hr />

<div class="content-selction">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <h4 class="bottom-bottom mb-4">Add your comment</h4>
      {{form|crispy }}
    </fieldset>

    <div class="form-group">
      <button type="submit" class="btn btn-color">Submit</button>
    </div>
  </form>
  <hr />
  <div class="comment-container">
    {%for comment in idea.comments.all %}
    <div class="comment-card">
      <div class="header-comment-card">
        <p class="text-muted author-text">{{comment.author}}</p>
        <p class="text-muted comment-date">{{comment.pub_date}}</p>
      </div>
      <p class="text-muted comment-description">{{comment.description}}</p>
    </div>
    {%endfor%}
  </div>
</div>

{% endblock content %}
